* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #E0EEE0	;
  }

/**/
#menu1{
    background-color: #000055		;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    top: 0;
    margin: 0 auto;
    padding: 2px 2px;
    position: fixed;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    height: 100%;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.header li:hover{
    background-color: #669966;
}
.header {
    margin-left:auto;
    margin-right:auto;
    display: block;
    padding-top: 60px;
    text-align: center;
}

/**/

#menu2{
  background-color: #A4D3EE;
}
.fields ul {
  width: auto;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
#menu2 li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
}
#menu2 li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
#menu2 li:hover {
  background: #CDE2CD;
}

/* Tạo hai cột không bằng nhau, float cạnh nhau */
  /* Cột trái */
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Cột phải */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #E0EEE0	;
    padding-left: 20px;
  }

/**/
.leftcolumn h2{
  color: #770000  ;
}

.leftcolumn h5{
  color: #444444	;
  font-style: italic;
}

.rightcolumn h2{
  text-align: center;
  color: #000055;
}

/**/
.card {
    background-color: white;
    padding: 20px;
    margin-top: 0px;
  }

.card img{
    float: left;
    margin-right: 20px;
}
/*
br{
  clear: left;
}
*/

/**/
.socials-share {
  text-align: center;
  /*margin-bottom: 30px;*/
}

.socials-share a {
  padding: 4px 30px;
  color: #fff;
  line-height: 2em;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  display: inline-block;
  /*margin-bottom: 4px;*/
}

.socials-share span.fa {
  margin-right: 3px;
}

.bg-facebook {
  background: #3a5899;
}

.bg-facebook:hover, .bg-facebook:focus {
  background: #1d418d;
}

.bg-twitter {
  background: #00acee;
}

.bg-twitter:hover, .bg-twitter:focus {
  background: #0b93c7;
}

.bg-google-plus {
  background: #db4437;
}

.bg-google-plus:hover, .bg-google-plus:focus {
  background: #bb2a1d;
}

.bg-pinterest {
  background: #cb1e26;
}

.bg-pinterest:hover, .bg-pinterest:focus {
  background: #ae0e15;
}

.bg-email {
  background: #dd5348;
}

.bg-email:hover, .bg-email:focus {
  background: #ce3f34;
}

/**/
.info p{
  color:#770000  ;

}
